@model SOPORTEE.Models.proyects

@{
    ViewBag.Title = "Agregar_Proyects";

}

<h2>New Proyect</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>proyect</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.proyect, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.proyect, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.proyect, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index_Proyects")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
