@model IEnumerable<SOPORTEE.Models.proyects>

@{
    ViewBag.Title = "Index_Proyects";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Proyects</h2>

<p>
    @Html.ActionLink("Create New", "Agregar_Proyects")
</p>

<form asp-controller="Proyects" asp-action="Index_Proyects">
    <p>
        Search for name: <input type="text" name="buscar">
        <input type="submit" value="Filter" />
    </p>
</form>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.proyect)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.proyect)
        </td>
        <td>
            @Html.ActionLink("Edit", "Editar_Proyects", new { id=item.id }) |
            @Html.ActionLink("Delete", "Borrar_Proyects", new { id = item.id }, new { @class = "aElimina" })
        </td>
    </tr>
}

</table>



@section scripts{
    <script>
            $(".aElimina").click(function (event) {   //al hacerle click pregunta
                if (!confirm('Estás seguro de eliminar')) {
                    event.preventDefault();
                }
            });
    </script>
}
